<form method="post" action="/web/user/{{currentUser}}" class="form-change-password span5">
    <input type="hidden" name="_method" value="PUT"/>
    <h1 class="form-signin-heading">{{Trans 'web.security.password.change'}}</h1>

    <input autocomplete="off" type="password" class="input-block-level" name="password-new" placeholder="{{Trans 'web.security.password.new'}}" />
    <input autocomplete="off" type="password" class="input-block-level" name="password-repeat" placeholder="{{Trans 'web.security.password.repeat'}}" />

    <input type="submit" value="{{Trans 'web.security.password.change'}}" class="btn btn-primary" />
</form>